<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
{% block content %}
<body>
<h2>Type Here</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Search</button>
    </form>
    <h5> {{ message }} <h5>
    {% if not found %}
        <h5>No results found <h5>
    {% else %}
            <h3> Results <h3>
            {% for rank_results in results %}
                <h4>Rank {{ forloop.counter0 }} <h4><br>
                {% for result in rank_results %}
                    Item {{  forloop.counter }} <br>
                    {{ result.index }} : {{ result.full_name }} <br>
                {% endfor %}
                    <br>
            {% endfor %}
    {% endif %}
</body>
{% endblock %}
</html>